* {
    margin: 0;
    padding: 0;
}

.calculadora{
    border: 2px;
    width: 50;
    background-color: #D9E4F1;
    border-radius: 1px;
}

#visor{
    border: 5px white ;
    background-color: white;
    height: 50px;
}

input.botao {
    background-color:  #EBF2F9;
    padding: 20px;
    width: 80;
    height: 80;
    margin: 20;
    border-radius: 1px;
}